.logo{
    background-color: var(--sidebar-bg);
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--alternative-font-color);
    padding-top:14px;
}

.fa-book{
    color: var(--red-color);
    margin-right: 8px;
}

/* Large screens ----------- */
@media only screen  and (min-width : 768px) {
    .logo {
        width: 20%;
    }
}