.book-preview {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px;
  width: 100%;
}

.book-preview__year {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 6px 8px;
  border-radius: 26px;
  display: block;
  background: var(--highlight-color);
  color: #fff;
  font-size: 1rem;
}
.book-preview__preview {
  align-self: center;
  height: 156px;
}
.book-preview__preview-link {
  position: absolute;
  right: 10px;
  top: 10px;
}
.book-preview__title {
  font-size: 1.2rem;
  margin: 16px 0 10px;
  height: 48px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.book-preview__title > small {
  display: block;
  font-size: 0.7rem;
}
.book-preview__author {
    padding: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
.book-preview__author {
  font-size: 0.7rem;
  margin: 0;
  color: var(--alternative-font-color);
}

.book-preview__description {
  margin-top: 8px;
  font-size: 0.6rem;
  flex: 1;
  overflow-y: scroll;
}

.no-book-preview {
  color: var(--alternative-font-color);
  text-align: center;
  flex: 1;
}
