.books-footer {
  padding: 4px;
  font-size: 0.8rem;
  background: var(--highlight-color);
  color: var(--alternative-font-color);
  display: flex;
  align-items: center;
}
.books-footer__pagination{
    flex:1;
}
.books-footer__notice{
    text-align: right;
}
