.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.sidebar__books-filters-list {
  display: flex;
  justify-content: center;
  max-height: 40%;
}
.sidebar__book-preview {
  flex: 1;
  display: flex;
}

/* Large screens ----------- */
@media only screen and (min-width: 768px) {
  .aside {
    width: 20%;
  }
}
