.books-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}

/* Large screens ----------- */
@media only screen  and (min-width : 768px) {
  .books-list {
    flex-direction: row;
  }
}
