.books-list {
  flex: 1;
  display: flex;
  overflow-y: scroll;
  margin: 10px;
  
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Large screens ----------- */
@media only screen  and (min-width : 768px) {
  .books-list {
    flex-direction: row;
  }
}
