
:root{
  --app-bg: #F2F4F8;
  --sidebar-bg:rgb(223, 232, 240);
  --primary-color:#297BF6;
  --primary-color-alt:#175dc5;
  --highlight-color: #393848;
  --default-font-color: #393848;
  --alternative-font-color:#84899F;
  --default-border-color: #9F9EA0;
}

html,
body {
	height: 100%;
}

body{
  font-size: 16px;
  color: var(--default-font-color);
}

h4{
  font-size: 0.8rem;
  margin: 0;
}

.App {
  background-color: var(--app-bg);
  height: 100%;
  min-height: 100%;
}
