.sidebar__books-filters{
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex:1;
    flex-direction: column;
  }
  
  .sidebar__books-filters__filter {
    padding: 6px 20px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
  }
  .sidebar__books-filters__filter:hover {
    background: var(--primary-color);
    color: #fff;
  }