.sidebar__books-filters-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.sidebar__books-filters-container > h4 {
    text-align: left;
    margin: 10px 0 0 20px;
    font-size: 1.2rem;
}
.sidebar__books-filters {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow-y: scroll;
    flex-wrap: wrap;
}

.sidebar__books-filters__filter {
    text-align: center;
}

.sidebar__books-filters__filter > a {
    text-decoration: none;
    color: var(--alternative-font-color);
    padding: 6px 20px;
    border-radius: 6px;
    cursor: pointer;
    display: block;
}
.sidebar__books-filters__filter > a:hover {
    background: var(--primary-color);
    border-radius: 6px;
}

.sidebar__books-filters__filter--active > a {
    background-color: var(--primary-color-alt);
    color: #fff;
    border-radius: 6px;
}

.sidebar__books-filters__filter > a:hover,
.sidebar__books-filters__filter--active > a:hover {
    color: #fff;
}

@media screen and (min-width: 768px) {
    .sidebar__books-filters {
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .sidebar__books-filters-container > h4 {
        font-size: 1rem;
        text-align: center;
        margin-left: 0;
    }
}
